################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Contracts/bin/Debug
/Contracts/obj/Debug
/Languages/bin/Debug
/Languages/obj/Debug
/packages
/Runtime-Composition/bin
/Runtime-Composition/obj/Debug
